<?xml version="1.0"?>
<launch>
  <arg name="file_name" default="$(find map_creator)/maps/motoman_mh5_r0.06_reachability.h5"/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

	<node name="create_inverse_reachability_map" pkg="map_creator" type="create_inverse_reachability_map" args="$(find map_creator)/maps/motoman_mh5_r0.06_reachability.h5" required="true" output="screen" launch-prefix="$(arg launch_prefix)"/>
</launch>