<?xml version="1.0"?>
<launch>
  <arg name="resolution" default=""/>
  <arg name="file_name" default=""/>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <node name="create_reachability_map" pkg="map_creator" type="create_reachability_map" args="$(arg resolution) $(arg file_name)" required="true" output="screen" launch-prefix="$(arg launch_prefix)"/>
</launch>